body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #bc8f8f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #8b4513;
}

p {
    margin-top: 20px;
    font-size: 16px;
}

a {
    color: #bc8f8f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
